@import url("https://fonts.googleapis.com/css?family=Poppins:400,600");
html {
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
span p {
  font-family: poppins;
  font-weight: 600;
  font-size: 48px;
  -webkit-animation: color 1s linear infinite;
          animation: color 1s linear infinite;
}
@-webkit-keyframes color {
  0% {
    color: #e91e63;
  }
  25% {
    color: #f44336;
  }
  50% {
    color: #9c27b0;
  }
  75% {
    color: #2196f3;
  }
  100% {
    color: #cddc39;
  }
}
@keyframes color {
  0% {
    color: #e91e63;
  }
  25% {
    color: #f44336;
  }
  50% {
    color: #9c27b0;
  }
  75% {
    color: #2196f3;
  }
  100% {
    color: #cddc39;
  }
}
